* {
  box-sizing: border-box;
}

body {
  background-color: darksalmon;
}

#hero-image {
  margin-bottom: 60px;
}

h1 {
  font-family: 'Fredoka One', cursive;
  color: darkolivegreen;
  text-align: center;
}

h2 {
  font-family: 'Times New Roman', Times, serif;
  color: darkslateblue;
  text-align: center;
}

table {
  margin: 0 auto;
  width: 80%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

td:last-child {
  background-color: rgb(91, 80, 151);
}

tr:last-child {
  background-color: rgb(221, 177, 111);
}

p {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
}

footer {
  text-align: right;
}

#contactInfo {
  border: 1px solid black;
  margin: 0 auto;
  width: 300px;
}

#formContainer {
  margin-bottom: 60px;
}

#formContainer input[type=text], input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

#formContainer input[type=submit] {
  width: 50%;
  background-color: #4CAF50;
  font-size: 2em;
  color: white;
  border: none;
  padding: 14px 40px;
}
