* {
  box-sizing: border-box;
}

body {
  background-color: darksalmon;
}

h1 {
  font-family: 'Fredoka One', cursive;
  color: darkolivegreen;
  text-align: center;
}

h2 {
  font-family: 'Times New Roman', Times, serif;
  color: darkslateblue;
}

table {
  margin: 0 auto;
  width: 80%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

td:last-child {
  background-color: rgb(91, 80, 151);
}

tr:last-child {
  background-color: rgb(221, 177, 111);
}

p {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
}

footer {
  text-align: right;
}